<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Daniel &amp; Crystine's Wedding</title>
		<link rel="stylesheet" type="text/css" href="style.css" />
	</head>

	<body>
		<h1>Daniel &amp; Crystine's Wedding</h1>
		<p>Please email any photos of the wedding you may have to <a href="mailto:dcwedding@singpolyma.net">dcwedding@singpolyma.net</a>.</p>
		{{& images}}
	</body>
</html>
